@model SmartAdminMvc.Entity.Project_General


@using System.Web.UI.WebControls
@using SmartAdminMvc.Entity

@using SmartAdminMvc.ModelView
@{

    ViewBag.Title = "Proje Düzenle";

}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Scripts/kk/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
<script src="~/Scripts/kk/Scripts/jquery.fancybox.js?v=2.1.3"></script>
<link href="~/Scripts/kk/Content/jquery.fancybox.css?v=2.1.2" rel="stylesheet" media="screen" />
<link href="~/Scripts/kk/Scripts/jquery.fancybox.css" rel="stylesheet" />

<style>
    /* Center the loader */
    .loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    -webkit-keyframes spin {
        0%;

    {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

    }

    keyframes spin {
        0%;

    {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

    }

    /* Add animation to "page content" */
    .animate-bottom {
        position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
    }

    -webkit-keyframes animatebottom {
        from;

    {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }

    }

    keyframes animatebottom {
        from;

    {
        bottom: -100px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }

    }
</style>
<script type="text/javascript">

    function showPage() {
        document.getElementById("xxx").style.display = "initial";
        document.getElementById("content").style.display = "block";
        $('#anadiv').css('opacity', '0.5');
        $('#save').css('pointer-events', 'none');
        $('#index').css('pointer-events', 'none');
    }
</script>


<ol class="breadcrumb">
    @* tüm sayfalarda bunu kullancağız. *@
    <li class="active">Proje</li>

    <li>Proje Düzenle </li>
</ol>
<!-- MAIN CONTENT -->
<div id="content">



    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-10">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-4" data-widget-colorbutton="false"
                     data-widget-editbutton="false"
                     data-widget-togglebutton="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-custombutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Dosya Düzenle </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">


                        </div>
                        <center> <div class="loader" id="xxx" style="display: none"></div></center>
                        <div class="widget-body no-padding" id="anadiv">

                            <form action="@Url.Action("Edit", "Project_General")" method="POST" id="smart-form-register" enctype="multipart/form-data" class="smart-form client-form">

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)



                                <fieldset>



                                    <div class="col-md-12">
                                        <div class="form-group col-md-12">
                                            <section class="col-lg-12">
                                                <label class="input col-md-2">Kullanıcı Seçiniz</label>
                                                <label class="input col-md-6">
                                                    @Html.EditorFor(model => model.Owner, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                                </label>

                                            </section>
                                        </div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <section class=" col-md-12">
                                            <label class=" input col-md-2" for="Name">@Html.DisplayNameFor(model => model.Name) </label>
                                            <div class="col-md-9 input">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                <span class="error">@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</span>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <section class=" col-md-12">
                                            <label class=" input col-md-2" for="StartDate">@Html.DisplayNameFor(model => model.StartDate) </label>
                                            <div class="col-md-9 input">
                                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                                <span class="error">@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })</span>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <section class=" col-md-12">
                                            <label class=" input col-md-2" for="Description">@Html.DisplayNameFor(model => model.Description) </label>
                                            <div class="col-md-9 input">
                                                <label class="textarea">
                                                    @Html.TextAreaFor(model => model.Description, new { name = "message", id = "message", rows = "5", htmlAttributes = new { @class = "form-control" } })
                                                    <span class="error">@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })</span>
                                                </label>
                                            </div>
                                        </section>
                                    </div>
                                    @*<div class="col-md-12">
                                        <div class="form-group col-md-12">
                                            <section class=" col-lg-12">
                                                <label class=" input col-md-2">@Html.DisplayNameFor(model => model.ImagePath)</label>
                                                <div class="col-md-5 input input-file">
                                                    @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @type = "file", @multiple = "multiple", @class = "form-control", id = "file", name = "file", }, name = "file" })

                                                </div>
                                            </section>
                                        </div>
                                    </div>*@
                                    <div class="col-md-12">
                                        <div class="form-group col-md-12">
                                            <section class=" col-lg-12">
                                                <label class=" input col-md-2">@Html.DisplayNameFor(model => model.Folder)</label>
                                                <div class="col-md-5 input input-file">
                                                    @Html.EditorFor(model => model.Folder, new { htmlAttributes = new { @type = "file", @multiple = "multiple", @class = "form-control", id = "file", name = "file", }, name = "file" })

                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                    @*<div class="col-md-12">
                                        <div class="form-group col-md-12">
                                            <section class=" col-lg-12">
                                                <label class=" input col-md-2">@Html.DisplayNameFor(model => model.Document)</label>
                                                <div class="col-md-5 input input-file">
                                                    @Html.EditorFor(model => model.Document, new { htmlAttributes = new { @type = "file", @multiple = "multiple", @class = "form-control", id = "file", name = "file", }, name = "file" })

                                                </div>
                                            </section>
                                        </div>
                                    </div>*@

                                </fieldset>
                                <div class="jumbotron">
                                    <fieldset>
                                        <div style="margin-left: 25px;" class="col-md-12">
                                            <div style="color:red;"> *.rar uzantılı dosyaları açmak için Winrar programı yüklü olmalıdır.Edinmek için Lütfen <a target="_blank" href="https://winrar.tr.softonic.com/">Tıklayınız</a></div>
                                        </div>
                                        <div style="margin-left: 25px;" class="col-md-12">
                                            @if (Model.DocList.Count > 0)
                                            {
                                                <p>
                                                    <label>Dökümanlar</label>
                                                </p>}
                                            @*<div style="border-bottom:1px solid yellow;"></div>*@
                                            @if (Model.DocList.Count > 0)
                                            {
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div class="item">
                                                            @foreach (var image in Model.DocList)
                                                            {
                                                                <div style="margin: 10px; float: left; height: 200px; overflow: hidden; width: 200px;">
                                                                    <div style="color: black;font-weight: bold">@image</div>
                                                                    @if (image.IndexOf(".JPG") != -1 || image.IndexOf(".png") != -1 || image.IndexOf(".PNG") != -1 || image.IndexOf(".jpg") != -1 || image.IndexOf(".jpeg") != -1)
                                                                    {  <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                          title="Resim"  target="_blank" href="@Url.Content("~/UploadFiles/"+Model.CompanyName+"/"  + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">
                                                                            <img src="@Url.Content("~/UploadFiles/"+Model.CompanyName+"/"  + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)" class="imgBox" />
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>
                                                                    }
                                                                    else if (image.IndexOf(".rar") != -1 || image.IndexOf(".RAR") != -1)
                                                                    {  <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                          title="Resim"  target="_blank" href="@Url.Content("~/UploadFiles/"+Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">
                                                                            <a href="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                                İndirmek için Tıklayınız!

                                                                                <img src="~/Content/img/rar.png" style="height:140px;" class="imgBox" />
                                                                            </a>
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>
                                                                    }
                                                                    else if (image.IndexOf(".txt") != -1 || image.IndexOf(".docx") != -1 || image.IndexOf(".doc") != -1)
                                                                    {  <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                          title="Resim" target="_blank" href="@Url.Content("~/UploadFiles/"+Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">

                                                                            <img src="~/Content/img/txt.png" style="height:140px;" class="imgBox" />
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>
                                                                    }
                                                                    else
                                                                    {<a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                        title="Resim"  target="_blank" href="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">

                                                                            <img src="~/Content/img/rar.png" style="height:140px;"  class="imgBox" />
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>

                                                                    }
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </div>

                                        <br><br><br><br><br><br><br><br><br><br><br><br><br>
                                        <div style="margin-left: 25px;" class="col-md-12">
                                            @if (Model.FolderList.Count > 0)
                                            {<p>
                                                <label>Belgeler</label>
                                            </p>
                                            }
                                            @*<div style="border-bottom:1px solid blue;"></div>*@
                                            @if (Model.FolderList.Count > 0)
            {
                                                <div class="row-fluid">
                                                    <div class="span2">
                                                        <div class="item">
                                                            @foreach (var image in Model.FolderList)
                                                            {
                                                                <div style="margin: 10px; float: left; height: 200px; overflow: hidden; width: 200px;">
                                                                    <div style="color: black;font-weight: bold">@image</div>

                                                                    @if (image.IndexOf(".JPG") != -1 || image.IndexOf(".png") != -1 || image.IndexOf(".PNG") != -1 || image.IndexOf(".jpg") != -1 || image.IndexOf(".jpeg") != -1)
                                                                    {  <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                          title="Resim" href="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">
                                                                            <img src="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)" class="imgBox" />
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>
                                                                    }
                                                                    else if (image.IndexOf(".rar") != -1 || image.IndexOf(".RAR") != -1)
                                                                    {  <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                          title="Resim" href="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">
                                                                            <a href="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                                İndirmek için Tıklayınız!
                                                                            </a>
                                                                            @*<img src="~/Content/img/rar.png" class="imgBox" />*@
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>
                                                                    }
                                                                    else if (image.IndexOf(".txt") != -1 || image.IndexOf(".docx") != -1 || image.IndexOf(".doc") != -1)
                                                                    {  <a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                          title="Resim" href="@Url.Content("~/UploadFiles/"+Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">
                                                                            <img src="~/Content/img/txt.png" class="imgBox" />
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>
                                                                    }
                                                                    else
                                                                    {<a id="ShowImage" class="fancybox-button" data-rel="fancybox-button"
                                                                        title="Resim" href="@Url.Content("~/UploadFiles/" +Model.CompanyName+"/" + Model.StartDate.Value.Year+"/"+Model.StartDate.Value.Month+"/"+Model.StartDate.Value.Day+"/" + Model.Name + "/" + image)">
                                                                        <div class="zoom">

                                                                            <img src="~/Content/img/cover.png" class="imgBox" />
                                                                            <div class="zoom-icon"></div>
                                                                        </div>
                                                                    </a>

                                                                    }
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </fieldset>
                                </div>
                                <fieldset>

                                    @*Ekranlar düzenlenecek Butonlar ustte*@

                                    <div class="form-group">
                                        <div class=" col-md-2 col-xs-3" align="center">
                                            <a href="#" onclick="location.href = '@Url.Action("Index", "Project_General")';return false;" id="index" class="btn btn-primary btn-circle btn-lg">
                                                <i class="glyphicon glyphicon-list"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-8 col-xs-6" dir="ltr">

                                        </div>
                                        <section class="col col-2">
                                            <a onclick="showPage(); document.getElementById('smart-form-register').submit(); " id="save" class="btn btn-primary btn-circle btn-lg">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </a>
                                        </section>
                                    </div>
                                </fieldset>
                            </form>

                        </div>
                    </div>
                </div>

            </article>

        </div>

        <!-- end row -->


    </section>
    <!-- end widget grid -->

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ShowImage").fancybox({
            helpers:
            {
                title:
                {
                    type: 'float'
                }
            }
        });
    });
</script>
<style type="text/css">
    .imgBox {
        width: 200px;
        height: 200px;
        opacity: 1.0;
        filter: alpha(opacity=100);
    }

        .imgBox:hover {
            -moz-box-shadow: 0 0 10px #ccc;
            -webkit-box-shadow: 0 0 10px #ccc;
            box-shadow: 0 0 10px #ccc;
            opacity: 0.4;
            filter: alpha(opacity=40);
        }
</style>


<script type="text/javascript">
    $(document).ready(function () {
        $('.imageGallery').fancybox({
            fitToView: false,
            width: '600px',
            height: '400px',
            autoSize: false,
            closeClick: false,
            openEffect: 'none',
            closeEffect: 'none',
            padding: 0,
            closeBtn: false,
            'afterClose': function () {
                window.location.reload();
            },
        });
    });
</script>

